<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pocket Chat</title>

  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <h1 id="ipaddress" style="display: block;"><%= ip %></h1>
  <h1 id="babaGanush" style="display: none;">ksjdbhfvsnvfpwoejflkjjkljrv</h1>
  <h1 class="app-title">Pocket Chat</h1>
  <div class="main-body">
    <div class="chat-upper-section">
      <div class="current-user">
        <%= userName %>
      </div>
    </div>
    <hr>
    <div class="chat-container">
      <div class="message-box">
        <div class="user-details">
          Vedant Diwakar
        </div>
        <div class="message">
          Hey there i am using the crib
        </div>
      </div>

      <div class="message-box">
        <div class="user-details">
          Swarnim Barapatre
        </div>
        <div class="message">
          haan kya ?
        </div>
      </div>

      <div class="message-box">
        <div class="user-details">
          Vedant Diwakar
        </div>
        <div class="message">
          Haan bro
        </div>
      </div>
    </div>
    <hr>
    <div class="input-container">
      <input class="input-box" type="text">
      <button class="input-btn">
        Send
      </button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="js/index.js"></script>
</body>
</html>